# LaTeX
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Haskell
dist-newstyle/
.stack-work/
*.hi
*.o
*.dyn_hi
*.dyn_o

# Vercel
.vercel/
